In [1]:
import pandas as pd

In [2]:
#importing all the json files of Spotify data

df1 = pd.read_json('StreamingHistory_music_2.json')
df1

,endTime,artistName,trackName,msPlayed
0,2023-06-18 18:13,21 Savage,can't leave without it,205351
1,2023-06-18 18:16,Toosii,Telly Telly,198951
2,2023-06-18 18:20,Lil Tjay,Calling My Phone,205458
3,2023-06-18 18:22,Lil Baby,On Me,135959
4,2023-06-18 18:26,Rod Wave,Rags2Riches 2 (feat. Lil Baby),235987
...,...,...,...,...
9995,2023-08-08 00:29,Don Toliver,Embarrassed (feat. Travis Scott),192693
9996,2023-08-08 00:31,Eric Bellinger,G.O.A.T.,88310
9997,2023-08-08 00:36,Polo G,Martin & Gina,132832
9998,2023-08-08 00:37,Lil Tjay,Nobody,87101
9999,2023-08-08 00:43,Pop Smoke,For The Night (feat. Lil Baby & DaBaby),190476

In [3]:
df2 = pd.read_json('StreamingHistory_music_3.json')
df2

,endTime,artistName,trackName,msPlayed
0,2023-08-08 00:46,Polo G,Suicide (with Lil Tjay),170925
1,2023-08-08 00:48,Lil Tjay,Nightshift,127105
2,2023-08-08 00:48,PnB Rock,My Ex,13824
3,2023-08-08 00:49,Polo G,Chosen 1,2986
4,2023-08-08 00:49,S1mba,Rover (feat. DTG),23466
...,...,...,...,...
9995,2023-09-26 20:21,Yung Bleu,You're Mines Still (feat. Drake),57737
9996,2023-09-26 20:24,PARTYNEXTDOOR,PERSIAN RUGS,174306
9997,2023-09-26 20:26,Summer Walker,Tonight,176506
9998,2023-09-26 20:29,SZA,Used (feat. Don Toliver),146946
9999,2023-09-26 20:32,Jhené Aiko,Sativa,189319

In [4]:
breakup = pd.concat([df1,df2])
breakup

,endTime,artistName,trackName,msPlayed
0,2023-06-18 18:13,21 Savage,can't leave without it,205351
1,2023-06-18 18:16,Toosii,Telly Telly,198951
2,2023-06-18 18:20,Lil Tjay,Calling My Phone,205458
3,2023-06-18 18:22,Lil Baby,On Me,135959
4,2023-06-18 18:26,Rod Wave,Rags2Riches 2 (feat. Lil Baby),235987
...,...,...,...,...
9995,2023-09-26 20:21,Yung Bleu,You're Mines Still (feat. Drake),57737
9996,2023-09-26 20:24,PARTYNEXTDOOR,PERSIAN RUGS,174306
9997,2023-09-26 20:26,Summer Walker,Tonight,176506
9998,2023-09-26 20:29,SZA,Used (feat. Don Toliver),146946
9999,2023-09-26 20:32,Jhené Aiko,Sativa,189319

In [5]:
#converting the json file into csv

breakup.to_csv("breakup.csv",index=False)
thebreakup = pd.read_csv("breakup.csv")
thebreakup

,endTime,artistName,trackName,msPlayed
0,2023-06-18 18:13,21 Savage,can't leave without it,205351
1,2023-06-18 18:16,Toosii,Telly Telly,198951
2,2023-06-18 18:20,Lil Tjay,Calling My Phone,205458
3,2023-06-18 18:22,Lil Baby,On Me,135959
4,2023-06-18 18:26,Rod Wave,Rags2Riches 2 (feat. Lil Baby),235987
...,...,...,...,...
19995,2023-09-26 20:21,Yung Bleu,You're Mines Still (feat. Drake),57737
19996,2023-09-26 20:24,PARTYNEXTDOOR,PERSIAN RUGS,174306
19997,2023-09-26 20:26,Summer Walker,Tonight,176506
19998,2023-09-26 20:29,SZA,Used (feat. Don Toliver),146946
19999,2023-09-26 20:32,Jhené Aiko,Sativa,189319

In [16]:
#finding my top 20 most played artists during my breakup era 
artist_count = thebreakup["artistName"].value_counts()
thebreakup["artistCount"] = thebreakup["artistName"].map(artist_count)
Fav_artists = thebreakup[["artistName", "artistCount"]]
Fav_artists = Fav_artists.drop_duplicates()
Fav_artists_sorted = Fav_artists.sort_values(by="artistCount", ascending=False)
Fav_artists_sorted  = Fav_artists_sorted.reset_index(drop=True)
Fav_artists_sorted = Fav_artists_sorted.head(20)
Fav_artists_sorted

        artistName  artistCount
0         Lil Tjay         1473
1         Lil Baby          823
2           Toosii          790
3           Polo G          646
4      Yatta Bandz          587
5            Blxst          570
6    Summer Walker          461
7         Rod Wave          443
8            Drake          383
9      Don Toliver          343
10             SZA          326
11          Future          311
12   Bryson Tiller          289
13      Kalan.FrFr          286
14       Pop Smoke          238
15      Jhené Aiko          210
16              YG          199
17        Lil Durk          196
18  Rylo Rodriguez          195
19           Gunna          193

In [7]:
#finding average number of songs played per day during my breakup era 
thebreakup[["date", "time"]] = thebreakup['endTime'].str.split(' ', expand=True)
date_count = thebreakup["date"].value_counts()

songs_everyday = pd.DataFrame(thebreakup["date"])
songs_everyday["dateCount"] = thebreakup["date"].map(date_count)
songs_everyday = songs_everyday.drop_duplicates()
songs_everyday = songs_everyday.drop(0)
songs_everyday  = songs_everyday.reset_index(drop=True)
songs_everyday

          date  dateCount
0   2023-06-19        109
1   2023-06-20        166
2   2023-06-21        147
3   2023-06-22        309
4   2023-06-23        159
..         ...        ...
93  2023-09-22        641
94  2023-09-23        149
95  2023-09-24        211
96  2023-09-25        214
97  2023-09-26         75

[98 rows x 2 columns]

In [9]:
avg = songs_everyday["dateCount"].mean()
print(avg)
#avg = 202 songs per day

202.60204081632654

In [14]:
#finding top 15 most played songs during my breakup era 
#create new column = unique od artistname + trackname and count on that 
thebreakup["uniqueID"] = thebreakup["trackName"]+ " by " + thebreakup["artistName"]

song_count = thebreakup["uniqueID"].value_counts()
thebreakup["songCount"] = thebreakup["uniqueID"].map(song_count)
songs_table = thebreakup[["uniqueID", "songCount"]]
songs_table = songs_table.drop_duplicates()
songs_table = songs_table.sort_values(by="songCount", ascending=False)
songs_table  = songs_table.reset_index(drop=True)
songs_table= songs_table.head(15)
songs_table

                                             uniqueID  songCount
0                             Martin & Gina by Polo G        103
1           2 Grown (feat. The Kid LAROI) by Lil Tjay         93
2                                   20/20 by Lil Tjay         86
3                 Pull Up (feat. 21 Savage) by Toosii         83
4          Stressed (feat. Summer Walker) by Lil Tjay         76
5                      Scared 2 Be Lonely by Lil Tjay         76
6   Taylor Port Junkie (feat. Lil Yachty) by Rylo ...         75
7                  Give You What You Want by Lil Tjay         75
8           WAIT FOR U (feat. Drake & Tems) by Future         74
9                       Someone Who Cares by Lil Tjay         73
10                                 Leaked by Lil Tjay         71
11                            3AM in Oakland by Karri         64
12                           On My Way by Yatta Bandz         63
13                      California Breeze by Lil Baby         61
14                        Way Out West by Yatta Bandz         60

In [17]:
#need to export all these as csv files to put into tableau 

#table for top 20 artists
Fav_artists_sorted.to_csv('Top20Artistsbreakup1.csv')

#total songs listened to everyday
songs_everyday.to_csv('TotalSongsEverydaybreakup.csv')

#top 15 songs most listened to 
songs_table.to_csv('Top15Songsbreakup1.csv')

print('done')

done